@font-face {
	font-family: 'GOTHAM-BOLD';
	src: url('fonts/GOTHAM-BOLD.eot');
	src: local('☺'), url('fonts/GOTHAM-BOLD.woff') format('woff'), url('fonts/GOTHAM-BOLD.ttf') format('truetype'), url('fonts/GOTHAM-BOLD.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Book';
	src: url('fonts/Gotham-Book.eot');
	src: local('☺'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GOTHAM-LIGHT';
	src: url('fonts/GOTHAM-LIGHT.eot');
	src: local('☺'), url('fonts/GOTHAM-LIGHT.woff') format('woff'), url('fonts/GOTHAM-LIGHT.ttf') format('truetype'), url('fonts/GOTHAM-LIGHT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GOTHAM-MEDIUM';
	src: url('fonts/GOTHAM-MEDIUM.eot');
	src: local('☺'), url('fonts/GOTHAM-MEDIUM.woff') format('woff'), url('fonts/GOTHAM-MEDIUM.ttf') format('truetype'), url('fonts/GOTHAM-MEDIUM.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$book: 'Gotham-Book';
$bold: 'GOTHAM-BOLD';
$light: 'GOTHAM-LIGHT';
$medium: 'GOTHAM-MEDIUM';
