header {
  width: 100%;
  text-align: center;
  img {
    position: relative;
    clear: both;
    width: 90%;
    max-width: 275px;
    margin: 20px auto;
    }
  &#relativo {
    position: relative;
    clear: both;
    margin: 0;
    background-color: $sec;
    overflow: hidden;
    padding: 16px 0;
    .logo_topo {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      height: 55%;
      width: auto;
    }
    #logo_topo{
      position: absolute;
      left: 0;
      top: 0;
      margin: 20px;
    }
    nav.main_menu{
      position: relative;
      float: right;
      width: auto;
      .menu_item_lk{
        position: relative;
        float: left;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        padding: 5px;
        margin: 10px;
        &:hover{
          .hover_menu{
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, 0);
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            height: 5px;
            background-color: #c89f56;
            width: 100%;
            color: #c89f56;
            max-width: 45px;
          }
        }
      }
    }
  }
  &#fixo {
    position: fixed;
    top: 0;
    clear: both;
    margin: 0;
    background-color: #333;
    overflow: hidden;
    padding: 16px 0;
    z-index: 2000;
    .logo_topo {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      height: 45%;
      width: auto;
    }
    #logo_topo{
      position: fixed;
      left: 0;
      top: 0;
      margin: 20px;
    }
    nav.main_menu{
      position: relative;
      float: right;
      width: auto;
      .menu_item_lk{
        position: relative;
        float: left;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        padding: 5px;
        margin: 10px;
        &:hover{
          .hover_menu{
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, 0);
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            height: 5px;
            background-color: #c89f56;
            width: 100%;
            color: #c89f56;
            max-width: 45px;
          }
        }
      }
    }
  }
  &#mobile {
      text-align: center;
      position: fixed;
      z-index: 2000;
      top: 0;
      clear: both;
      margin: 0;
      background-color: #333;
      overflow: hidden;
      padding: 16px 0;
      z-index: 2000;
      .content_12{
        display: inline-block;
      }
      .logo_topo{
        position: relative;
        margin: 25px auto 0px;
        display: inline-block;
        left: inherit;
        top: inherit;
      }
      nav.main_menu{
        float: none;
        max-height: 0;
        text-align: center;
        overflow: hidden;
        @include animacoes(0.4s);
        &.aberto{
          max-height: 135px;
          @include animacoes(0.4s);
        }
        .menu_item_lk{
          float: none;
          color: $branco;
          margin: 5px auto;
        }
      }
      #open_menu{
        position: relative;
        overflow: hidden;
        padding: 20px 28px;
        background-image: url("../images/menu_mobile.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: inline-block;
        cursor: pointer;
        float: right;
        margin: 25px 100px 0px;
      }
    }
}
#lang_sel {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    img {
        position: relative;
        float: left;
        width: 30px;
        height: auto;
        margin: 5px;
    }
}

@media only screen and (max-width: 960px){
  header {
    &#relativo {
      text-align: center;
      position: fixed;
      z-index: 2000;
      .logo_topo{
        position: relative;
        margin: 25px auto 0px;
        display: inline-block;
        left: inherit;
        top: inherit;
      }
      nav.main_menu{
        float: none;
        max-height: 0;
        text-align: center;
        overflow: hidden;
        @include animacoes(0.4s);
        &.aberto{
          max-height: 135px;
          @include animacoes(0.4s);
        }
        .menu_item_lk{
          float: none;
          color: $branco;
        }
      }
      #open_menu{
        position: relative;
        overflow: hidden;
        padding: 12px 16px;
        background-image: url("../images/menu_mobile.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: inline-block;
        cursor: pointer;
      }
    }
    &#fixo {
      text-align: center;
      position: fixed;
      z-index: 2000;
      .logo_topo{
        position: relative;
        margin: 25px auto 0px;
        display: inline-block;
        left: inherit;
        top: inherit;
      }
      nav.main_menu{
        float: none;
        max-height: 0;
        text-align: center;
        overflow: hidden;
        @include animacoes(0.4s);
        &.aberto{
          max-height: 135px;
          @include animacoes(0.4s);
        }
        .menu_item_lk{
          float: none;
        }
      }
      #open_menu{
        position: relative;
        overflow: hidden;
        padding: 12px 16px;
        background-image: url("../images/menu_mobile.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: inline-block;
        cursor: pointer;
      }
    }
      &#mobile {
          text-align: center;
          position: fixed;
          z-index: 2000;
          top: 0;
          clear: both;
          margin: 0;
          background-color: #333;
          overflow: hidden;
          padding: 16px 0;
          z-index: 2000;
          .logo_topo{
            position: relative;
            margin: 25px auto 0px;
            display: inline-block;
            left: inherit;
            top: inherit;
          }
          nav.main_menu{
            float: none;
            max-height: 0;
            text-align: center;
            overflow: hidden;
            @include animacoes(0.4s);
            &.aberto{
              max-height: 135px;
              @include animacoes(0.4s);
            }
            .menu_item_lk{
              float: none;
              color: $branco;
            }
          }
          #open_menu{
            position: relative;
            overflow: hidden;
            padding: 12px 16px;
            background-image: url("../images/menu_mobile.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: inline-block;
            cursor: pointer;
        }
      }
    }
  }
