html, body, figure, img, ul, li, h1, h2, h3, h4, h5, hr, a, footer, header, section {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a, a:hover {
	color: inherit;
	text-decoration: none;
}
body{
	font-family: $book;
	background-image: url("../images/TileFundo.jpg");
	color: $branco;
	width: 100%;
	overflow-x: hidden;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

strong{
	font-family: $bold;
}
#skip {
	display: none;
}
